## Analyzing borrowers’ risk of defaulting

Your project is to prepare a report for a bank’s loan division. You’ll need to find out if a customer’s marital status and number of children has an impact on whether they will default on a loan. The bank already has some data on customers’ credit worthiness.

Your report will be considered when building a **credit scoring** of a potential customer. A **credit scoring** is used to evaluate the ability of a potential borrower to repay their loan.

### Step 1. Open the data file and have a look at the general information.

In [1]:
import pandas as pd
import nltk 
from nltk.stem import WordNetLemmatizer
from collections import Counter
credit_scoring = pd.read_csv('/datasets/credit_scoring_eng.csv')
credit_scoring.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       19351 non-null float64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        19351 non-null float64
purpose             21525 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

### Conclusion

As wee see above general information we have 21525 rows. And some of them have missing values

### Step 2. Data preprocessing

### Processing missing values

In [2]:
#Checking for missing values and counting their number
print('Missing values before filling on "total_income" column: {}'.format(credit_scoring['total_income'].isna().sum()))
#Putting a average income instead of missing values
avg_income = credit_scoring['total_income'].mean()
credit_scoring['total_income'] = credit_scoring['total_income'].fillna(avg_income)
print('Missing after filling on "total_income" column: {}'.format(credit_scoring['total_income'].isna().sum()))
#Checking for missing values and counting their number
print('Missing values before filling on "days_employed": {}'.format(credit_scoring['days_employed'].isna().sum()))
credit_scoring['days_employed'] = credit_scoring['days_employed'].fillna(0)
print('Missing values after filling on "days_employed": {}'.format(credit_scoring['days_employed'].isna().sum()))

Missing values before filling on "total_income" column: 2174
Missing after filling on "total_income" column: 0
Missing values before filling on "days_employed": 2174
Missing values after filling on "days_employed": 0

### Conclusion

On the above I have filled missing values of 2 columns. On `'total_income'` column I have changed missing values with average of `'total_income'` with reason of `keeping data unchanged`. And on `'days_employed'` column I have changed with 0, because of there is `negative` values.And negative values definitely will affect on finding `'mean'` of column.Also, possible reason of having a missing values is that on a some people, who are in this data, might have not got a job and income.

### Data type replacement

In [3]:
#Changing real number type to integer with ---> astype()  method
credit_scoring['days_employed'] = credit_scoring['days_employed'].astype('int')
credit_scoring['total_income'] = credit_scoring['total_income'].astype('int')
#Processing negative values with ---> abs() method
credit_scoring['days_employed'] = credit_scoring['days_employed'].abs()
credit_scoring['children'] = credit_scoring['children'].abs()
#Checking for results
credit_scoring.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       21525 non-null int64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        21525 non-null int64
purpose             21525 non-null object
dtypes: int64(7), object(5)
memory usage: 2.0+ MB

### Conclusion

On the above we have changed `real number` type to `integer` data type. Because in our case it is much more effective working with `integer` than `real number` type. For changing "data type" we have used `astype()` method. Cause of using this it is much easier than using other methods

### Processing duplicates

In [4]:
#Looking duplicates by duplicated() method
print('Duplicate rows before deleting {}'.format(credit_scoring.duplicated().sum()))
credit_scoring = credit_scoring.drop_duplicates().reset_index(drop = True)#Deleting duplicates
print('Duplicate rows after deleting {}'.format(credit_scoring.duplicated().sum()))
#Looking duplicats by hand
print('Values of "children" column: {}'.format(credit_scoring['children'].unique()))
print('Values of "education" column: {}'.format(credit_scoring['education'].unique()))
print('Values of "family_status" column: {}'.format(credit_scoring['family_status'].unique()))
print('Values of "gender" column: {}'.format(credit_scoring['gender'].unique()))
print('Values of "income_type" column:{}'.format(credit_scoring['income_type'].unique()))
print('Values of "purpose" column:{}'.format(credit_scoring['purpose'].unique()))
#Handling 'typo' duplicates 
credit_scoring['education'] = credit_scoring['education'].str.lower()
credit_scoring['purpose'] = credit_scoring['purpose'].str.lower()
print('Values of "education" column after using "str.lower()" method: {}'.format(credit_scoring['education'].unique()))
#Handling 20 children
credit_scoring.drop(credit_scoring[credit_scoring['children'] == 20].index,inplace=True)
print('Values of "children" column after droping: {}'.format(credit_scoring['children'].unique()))
#Lemmatization "purpose" column and Checkiing it
wordnet_lemma = WordNetLemmatizer()
must_tokenize = credit_scoring['purpose']
tokenized = [wordnet_lemma.lemmatize(words, pos='n') for words in must_tokenize] 
print(must_tokenize.head(10))
print(Counter(tokenized))

Duplicate rows before deleting 54
Duplicate rows after deleting 0
Values of "children" column: [ 1  0  3  2  4 20  5]
Values of "education" column: ["bachelor's degree" 'secondary education' 'Secondary Education'
 'SECONDARY EDUCATION' "BACHELOR'S DEGREE" 'some college'
 'primary education' "Bachelor's Degree" 'SOME COLLEGE' 'Some College'
 'PRIMARY EDUCATION' 'Primary Education' 'Graduate Degree'
 'GRADUATE DEGREE' 'graduate degree']
Values of "family_status" column: ['married' 'civil partnership' 'widow / widower' 'divorced' 'unmarried']
Values of "gender" column: ['F' 'M' 'XNA']
Values of "income_type" column:['employee' 'retiree' 'business' 'civil servant' 'unemployed'
 'entrepreneur' 'student' 'paternity / maternity leave']
Values of "purpose" column:['purchase of the house' 'car purchase' 'supplementary education'
 'to have a wedding' 'housing transactions' 'education' 'having a wedding'
 'purchase of the house for my family' 'buy real estate'
 'buy commercial real estate' 'buy residential real estate'
 'construction of own property' 'property' 'building a property'
 'buying a second-hand car' 'buying my own car'
 'transactions with commercial real estate' 'building a real estate'
 'housing' 'transactions with my real estate' 'cars' 'to become educated'
 'second-hand car purchase' 'getting an education' 'car'
 'wedding ceremony' 'to get a supplementary education'
 'purchase of my own house' 'real estate transactions'
 'getting higher education' 'to own a car' 'purchase of a car'
 'profile education' 'university education'
 'buying property for renting out' 'to buy a car' 'housing renovation'
 'going to university']
Values of "education" column after using "str.lower()" method: ["bachelor's degree" 'secondary education' 'some college'
 'primary education' 'graduate degree']
Values of "children" column after droping: [1 0 3 2 4 5]
0                  purchase of the house
1                           car purchase
2                  purchase of the house
3                supplementary education
4                      to have a wedding
5                  purchase of the house
6                   housing transactions
7                              education
8                       having a wedding
9    purchase of the house for my family
Name: purpose, dtype: object
Counter({'car': 970, 'wedding ceremony': 792, 'having a wedding': 769, 'to have a wedding': 765, 'real estate transactions': 674, 'buy commercial real estate': 659, 'buying property for renting out': 651, 'housing transactions': 648, 'transactions with commercial real estate': 646, 'purchase of the house': 643, 'housing': 642, 'purchase of the house for my family': 637, 'property': 632, 'construction of own property': 629, 'transactions with my real estate': 626, 'building a real estate': 624, 'purchase of my own house': 620, 'buy real estate': 619, 'building a property': 619, 'housing renovation': 605, 'buy residential real estate': 604, 'buying my own car': 505, 'going to university': 496, 'second-hand car purchase': 482, 'to own a car': 476, 'buying a second-hand car': 472, 'to buy a car': 471, 'car purchase': 461, 'supplementary education': 457, 'purchase of a car': 455, 'university education': 447, 'to get a supplementary education': 446, 'education': 445, 'getting an education': 441, 'profile education': 434, 'getting higher education': 425, 'to become educated': 408})

### Conclusion

For finding duplicates we have used `duplicated()` method. Also, for finding 'typo' duplicates we used `unique()` method. To handle 'typo' duplicate we used `str.lower()` method. Main reason of appearing duplicates might be filling forms not correctly or not being a example of filling forms. And also 20 on the children column seems doubfully. So we will drop this values. Then, firstly we used `unique()` method for the `purpsose` column, we discovered that there are `"lemma"` duplicates. After that , we used `lemmatization`, then counted lemmas. As a result,  we got `car`,`wedding`,`estate`,`education` and etc. these words most repeated words. We will use this words when we categorize the data!

### Categorizing Data

In [5]:
#Loan repaying function
def repaying_loan(row):
    loan = row['debt']
    if loan == 1:
        return 'not paid on time'
    return 'paid on time'
median_cs = credit_scoring['total_income'].median()
#Income Level function
def income_level(row):
    income = row['total_income']
    if income > median_cs:
        return 'above the median'
    elif income < median_cs:
        return 'below the median'
    return 'on the median'
#Set purpose function
def set_purpose(row):
    purpose = row['purpose']
    if 'car' in purpose:
        return 'car_purpose'
    elif 'wedding' in purpose:
        return 'wedding_purpose'
    elif 'education' in purpose or 'university' in purpose or 'educated' in purpose:
        return 'education_purpose'
    else:
        return 'house&property_purpose'

#Applying functions to the data
credit_scoring['loan_repaying'] = credit_scoring.apply(repaying_loan,axis = 1)
credit_scoring['income_level'] = credit_scoring.apply(income_level,axis = 1)
credit_scoring['new_purpose'] = credit_scoring.apply(set_purpose,axis = 1)
#And checking for done job
credit_scoring.head(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,loan_repaying,income_level,new_purpose
0,1,8437,42,bachelor's degree,0,married,0,F,employee,0,40620,purchase of the house,paid on time,above the median,house&property_purpose
1,1,4024,36,secondary education,1,married,0,F,employee,0,17932,car purchase,paid on time,below the median,car_purpose
2,0,5623,33,secondary education,1,married,0,M,employee,0,23341,purchase of the house,paid on time,below the median,house&property_purpose
3,3,4124,32,secondary education,1,married,0,M,employee,0,42820,supplementary education,paid on time,above the median,education_purpose
4,0,340266,53,secondary education,1,civil partnership,1,F,retiree,0,25378,to have a wedding,paid on time,above the median,wedding_purpose
5,0,926,27,bachelor's degree,0,civil partnership,1,M,business,0,40922,purchase of the house,paid on time,above the median,house&property_purpose
6,0,2879,43,bachelor's degree,0,married,0,F,business,0,38484,housing transactions,paid on time,above the median,house&property_purpose
7,0,152,50,secondary education,1,married,0,M,employee,0,21731,education,paid on time,below the median,education_purpose
8,2,6929,35,bachelor's degree,0,civil partnership,1,F,employee,0,15337,having a wedding,paid on time,below the median,wedding_purpose
9,0,2188,41,secondary education,1,married,0,M,employee,0,23108,purchase of the house for my family,paid on time,below the median,house&property_purpose

### Conclusion

To categorize the data we wrote 2 function. Main purposes of categorizing data are getting more `clear data`  and `results`. Also we used `median` of `income` to categorize data. The `main goal` of using `median` is that getting more `pretty`and  `beatiful` outputs.Then we divided purposes into 4 big groups according to most appeared words(according to data we got from lemmatization).

### Step 3. Answer these questions

- Is there a relation between having kids and repaying a loan on time?

In [6]:
kids_pivot = credit_scoring.pivot_table(index='children',columns='loan_repaying',values='debt',aggfunc='count')
kids_pivot['ratio'] = kids_pivot['not paid on time'] / (kids_pivot['paid on time'] + kids_pivot['not paid on time'] )
kids_pivot.sort_values('ratio', ascending=False)

loan_repaying  not paid on time  paid on time     ratio
children
4                           4.0          37.0  0.097561
2                         194.0        1858.0  0.094542
1                         445.0        4411.0  0.091639
3                          27.0         303.0  0.081818
0                        1063.0       13044.0  0.075353
5                           NaN           9.0       NaN

### Conclusion

As we see above when increasing child number, `loan_repaying` percentage also increasing.In summary, we can definitily conclude that having kids causes not repaying loan at time.

#### - Is there a relation between marital status and repaying a loan on time?

In [7]:
marital_pivot = credit_scoring.pivot_table(index = 'family_status',values='debt',columns='loan_repaying',aggfunc='count')
marital_pivot['ratio'] = marital_pivot['not paid on time'] / (marital_pivot['not paid on time'] + marital_pivot['paid on time'])
marital_pivot.sort_values('ratio', ascending=False)

loan_repaying      not paid on time  paid on time     ratio
family_status
unmarried                       273          2528  0.097465
civil partnership               385          3766  0.092749
married                         928         11367  0.075478
divorced                         84          1109  0.070411
widow / widower                  63           892  0.065969

### Conclusion

From calculations above we can conclude that `unmarried` people leading on not paing loan on a time. And if person `married and without partner`(widow/widower/divorced) this increases chance of repaying loan on a time.

#### - Is there a relation between income level and repaying a loan on time?

In [8]:
income_pivot = credit_scoring.pivot_table(index = 'income_level',values = 'debt',columns='loan_repaying',aggfunc='count')
income_pivot['ratio'] = income_pivot['not paid on time'] / (income_pivot['not paid on time'] + income_pivot['paid on time'])
income_pivot.sort_values('ratio',ascending=False)

loan_repaying     not paid on time  paid on time     ratio
income_level
below the median             892.0        9805.0  0.083388
above the median             841.0        9856.0  0.078620
on the median                  NaN           1.0       NaN

### Conclusion

The numbers related to `'income_relation'` tells us, as higher income level, ASAP can be `potential borrower`

#### - How do different loan purposes affect on-time repayment of the loan?

In [9]:
purpose_pivot = credit_scoring.pivot_table(index = 'new_purpose',values = 'debt', columns = 'loan_repaying',aggfunc = 'count')
purpose_pivot['ratio'] = purpose_pivot['not paid on time'] / (purpose_pivot['not paid on time'] + purpose_pivot['paid on time'])
purpose_pivot.sort_values('ratio',ascending=False)

loan_repaying           not paid on time  paid on time     ratio
new_purpose
car_purpose                          401          3891  0.093430
education_purpose                    369          3630  0.092273
wedding_purpose                      183          2143  0.078676
house&property_purpose               780          9998  0.072370

### Conclusion

Concludely, in most cases `car`  and `education` purposes leading on not repaying loan on time.Other 2 purposes have less infulences than purposes `car` and `education`.

### Step4. General Conclusion

Generally, in real world there are more reasons will affect when borrowing loan or credit. But, from the data we have analyzed we can conclude that: `'having kids'`, `'family_status'` and `'purpose'` play important roles on being a `potential borrower`.
And `income_level` has less priority than these 3 purposes.

### Project Readiness Checklist


Put 'x' in the completed points. Then press Shift + Enter.

- [x]  file open;
- [x]  file examined;
- [x]  missing values defined;
- [x]  missing values are filled;
- [x]  an explanation of which missing value types were detected;
- [x]  explanation for the possible causes of missing values;
- [x]  an explanation of how the blanks are filled;
- [x]  replaced the real data type with an integer;
- [x]  an explanation of which method is used to change the data type and why;
- [x]  duplicates deleted;
- [x]  an explanation of which method is used to find and remove duplicates;
- [x]  description of the possible reasons for the appearance of duplicates in the data;
- [x]  data is categorized;
- [x]  an explanation of the principle of data categorization;
- [x]  an answer to the question "Is there a relation between having kids and repaying a loan on time?";
- [x]  an answer to the question " Is there a relation between marital status and repaying a loan on time?";
- [x]   an answer to the question " Is there a relation between income level and repaying a loan on time?";
- [x]  an answer to the question " How do different loan purposes affect on-time repayment of the loan?"
- [x]  conclusions are present on each stage;
- [x]  a general conclusion is made.